
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 ;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid black;
    align-items: flex-end;
    width: 100vw;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
}
nav.with-border {
    border-bottom: 1px solid red; 
}
#navtitle {
    margin-left: 90px;
}
nav > ol{
    display: flex;
     flex-direction: row; 
    list-style: none;
}
 li{
    justify-content: space-between;
    margin-right: 50px;
 }

.home{
    display:flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    width: 100%;
    height: 100%; 
    align-items: center;
} 

#home-img {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    float: left;
}
.hometext{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    text-align: center;
    
}
#home-butonwrap{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 48%;
    right: 48%;
}
a{
    text-decoration: none;
    color:black
}
.home-button{
    display: inline-flex;
    flex-direction: column;
     border: 1px solid black;
     border-radius: 100%;
     aspect-ratio: 1/1;
     height: 20px;
     width:20px;
     margin-right: 10px;
}
#homepage1{
    background-color: black;
}
#homepage2{
    background-color: transparent;
}
#homepage3{
    background-color: transparent;
}
@media (max-width: 600px) {
    nav > ol {
        flex-direction: column;
    }
    nav.with-border {
        border-bottom: none; 
    }
}
@media screen and (max-width: 450px) {
    .home {
     flex-direction: column;
    }
    #home-img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        
  }
  .home-button{
    display: inline-flex;
    flex-direction: row ;
     aspect-ratio: 1 / 1; 
     height: 20px;
     width:20px;
    
}
#home-butonwrap{
    display: flex;
    flex-direction: row;
    position: static;
    margin-bottom: 50px;
}
}
#collections{
    display: block;
    text-align: center;
    background-color: aqua;
    height: fit-content;
   }
   .icon-border{
    display: inline-block;
   
    margin-left: 30px;
    border: 1px solid black;
    width: 150px;
    aspect-ratio: 1/1;
    height: 150px;
    border-radius: 100%;
    align-items: center;
    margin: 10px;
   }
   .icons{
    display: flex;
    font-size: 80px; 
    margin-top: 30px;
   }
   #family{
    background-image: url('Untitled-design-1.png') ;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: vh;
    width: 100%;
   }